<section id="home">
  <video id="home-bg-video" poster="../../../../assets/Tools/Video/c5e99f1ccd835e1ab218d979500a9b68.jpg" autoplay loop
    muted>
    <source src="../../../../assets/Tools/Video/cab33b62392baedeed4538d8dd047599.mp4">
    <source src="../../../../assets/Tools/Video/21b03109154d8705c7b120962156b39e.ogv">
    <source src="../../../../assets/Tools/Video/257534183fa90aab30b6f3271bd71e02.webm">
  </video>
  <div id="home-overlay"></div>
  <div id="home-content">
    <div id="home-contect-inner" class="text-center">
      <div id="home-heading">
        <h1 id="home-heading-1">Digital</h1><br>
        <h1 id="home-heading-2">Up<span>Strike</span></h1>
      </div>
      <div id="home-text">
        <p>Offecial WebSite For Making Analysis to The Players Online Durring The Match</p>
      </div>
      <div id="home-btn">
        <a type="button" title="Login" role="button" class="btn btn-general btn-home" data-toggle="modal"
          data-target="#myModal">
          Start Now
        </a>
      </div>
    </div>
  </div>
  <a href="#about" id="arrow-down" class="smooth-scroll infinite fadeInDown ">
    <i class="fas fa-arrow-down"></i>
  </a>
</section>
<!-- Modal PopUp -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
