<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fas fa-code animated swing infinite"></i> Copyright &copy;  {{Year}} All Rights Reserved By <span><a
          href="http://emd4it.com/">EMD4IT Development Force</a> </span></p>
      </div>
    </div>
  </div>
  <a href="#topPage" id="back-to-top" class="btn btn-sm btn-blue btn-back-to-top smooth-scroll" title="Up Again"
     role="button"><i class="fas fa-level-up-alt animated infinite fadeInUp slow"></i></a>
</footer>
