<section id="pricing">
  <div class="content-box md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center wow slideInDown">
          <div class="horizontal-heading">
            <h5>Lovely Customers</h5>
            <h2>Our Pricing</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6 col-lg-3 wow fadeInLeft">
          <div class="pricing-table">
            <div class="type">
              <h4>Basic</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h2>1250 <span class="dollar">L.E.</span> <br><span class="month">(Per Match)</span></h2>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                  <p>You Will Get This Awesome Service With 5 Matches. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <ul class="package">
                <li><i class="far fa-hand-point-right"></i>- Unlimited analyst licenses</li>
                <li><i class="far fa-hand-point-right"></i>- Players can analyze their own games</li>
                <li><i class="far fa-hand-point-right"></i>- Add drawings and comment to your videos</li>
                <li><i class="far fa-hand-point-right"></i>- Unlimited storage</li>
                <li><i class="far fa-hand-point-right"></i>- Interactive match reports</li>
                <li><i class="far fa-hand-point-right"></i>- Create downloadable clips</li>
                <li><i class="far fa-hand-point-right"></i>- Highlights videos</li>
                <li><i class="far fa-hand-point-right"></i>- Coaches corner</li>
                <li><i class="far fa-hand-point-right"></i>- Synchronize match videos</li>
                <li><i class="far fa-hand-point-right"></i>- Upload match tagging</li>
              </ul>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-blue" data-toggle="modal"
                 data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 col-sm-6 col-lg-3 wow fadeInUp" data-wow-duration="3s">
          <div class="pricing-table black">
            <div class="type">
              <h4>Standard</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h2>4000 <span class="dollar">L.E.</span> <br><span class="month">(Per Match)</span></h2>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                  <p>You Will Get This Awesome Service With 20 Matches. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <ul class="package">
                <li><i class="far fa-hand-point-right"></i>- Unlimited analyst licenses</li>
                <li><i class="far fa-hand-point-right"></i>- Players can analyze their own games</li>
                <li><i class="far fa-hand-point-right"></i>- Add drawings and comment to your videos</li>
                <li><i class="far fa-hand-point-right"></i>- Unlimited storage</li>
                <li><i class="far fa-hand-point-right"></i>- Interactive match reports</li>
                <li><i class="far fa-hand-point-right"></i>- Create downloadable clips</li>
                <li><i class="far fa-hand-point-right"></i>- Highlights videos</li>
                <li><i class="far fa-hand-point-right"></i>- Coaches corner</li>
                <li><i class="far fa-hand-point-right"></i>- Synchronize match videos</li>
                <li><i class="far fa-hand-point-right"></i>- Upload match tagging</li>
              </ul>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-white" data-toggle="modal"
                 data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 col-sm-6 col-lg-3 wow fadeInRight">
          <div class="pricing-table">
            <div class="type">
              <h4>Super</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h2>7500 <span class="dollar">L.E.</span> <br><span class="month">(Per Match)</span></h2>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                  <p>You Will Get This Awesome Service With 50 Matches. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <ul class="package">
                <li><i class="far fa-hand-point-right"></i>- Unlimited analyst licenses</li>
                <li><i class="far fa-hand-point-right"></i>- Players can analyze their own games</li>
                <li><i class="far fa-hand-point-right"></i>- Add drawings and comment to your videos</li>
                <li><i class="far fa-hand-point-right"></i>- Unlimited storage</li>
                <li><i class="far fa-hand-point-right"></i>- Interactive match reports</li>
                <li><i class="far fa-hand-point-right"></i>- Create downloadable clips</li>
                <li><i class="far fa-hand-point-right"></i>- Highlights videos</li>
                <li><i class="far fa-hand-point-right"></i>- Coaches corner</li>
                <li><i class="far fa-hand-point-right"></i>- Synchronize match videos</li>
                <li><i class="far fa-hand-point-right"></i>- Upload match tagging</li>
              </ul>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-blue" data-toggle="modal"
                 data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6 col-sm-6 col-lg-3 wow fadeInUp" data-wow-duration="3s">
          <div class="pricing-table black">
            <div class="type">
              <h4>Elite</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                  <h2>10000 <span class="dollar">L.E.</span> <br><span class="month">(Per Match)</span></h2>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                  <p>You Will Get This Awesome Service With 100 Matches. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <ul class="package">
                <li><i class="far fa-hand-point-right"></i>- Unlimited analyst licenses</li>
                <li><i class="far fa-hand-point-right"></i>- Players can analyze their own games</li>
                <li><i class="far fa-hand-point-right"></i>- Add drawings and comment to your videos</li>
                <li><i class="far fa-hand-point-right"></i>- Unlimited storage</li>
                <li><i class="far fa-hand-point-right"></i>- Interactive match reports</li>
                <li><i class="far fa-hand-point-right"></i>- Create downloadable clips</li>
                <li><i class="far fa-hand-point-right"></i>- Highlights videos</li>
                <li><i class="far fa-hand-point-right"></i>- Coaches corner</li>
                <li><i class="far fa-hand-point-right"></i>- Synchronize match videos</li>
                <li><i class="far fa-hand-point-right"></i>- Upload match tagging</li>
              </ul>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-white" data-toggle="modal"
                 data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
