<section id="pricing">
  <div class="content-box md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="horizontal-heading">
            <h5>Lovely Customers</h5>
            <h2>Our Pricing</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-table">
            <div class="type">
              <h4>Basic</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-4">
                  <h2>26 <span class="dollar">L.E.</span> <br><span class="month">Month</span></h2>
                </div>
                <div class="col-md-8">
                  <p>You Will Get This Awsome Service With This Great Price. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-red" data-toggle="modal"
                data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-table black">
            <div class="type">
              <h4>Unlimited</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-4">
                  <h2>67 <span class="dollar">L.E.</span> <br><span class="month">Month</span></h2>
                </div>
                <div class="col-md-8">
                  <p>You Will Get This Awsome Service With This Great Price. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-white" data-toggle="modal"
                data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-table">
            <div class="type">
              <h4>Professional</h4>
            </div>
            <div class="price">
              <div class="row">
                <div class="col-md-4">
                  <h2>100 <span class="dollar">L.E.</span> <br><span class="month">Month</span></h2>
                </div>
                <div class="col-md-8">
                  <p>You Will Get This Awsome Service With This Great Price. Get It Now.</p>
                </div>
              </div>
            </div>
            <ul class="package">
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
              <li><i class="far fa-hand-point-right"></i>-Full Access</li>
            </ul>
            <div id="pricing-button">
              <a type="button" title="Login" role="button" class="btn btn-general btn-red" data-toggle="modal"
                data-target="#myModal">
                <i class="far fa-thumbs-up"></i> Try It Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
