<app-head-page-carousel [headName]="'Sports'" [tittle]="'You coach. We help. They win.'"
  [paraghragh1]="'All-in-One Solution for Live performance analysis.'"
  [paraghragh2]="'Identify key actions during the match. Tag, review and edit them in real-time while continuing to record.'"
  [paraghragh3]="'Help your team see exactly where they need to improve.'"
  [image1]="'../../../../assets/Tools/Images/TestImg/image1.jpg'"
  [image2]="'../../../../assets/Tools/Images/TestImg/image2.jpg'"
  [image3]="'../../../../assets/Tools/Images/TestImg/image3.jpg'">
</app-head-page-carousel>
<br>
<br>
<app-guid-box [pageName]="'Sports'" [icon1]="'fas fa-drum-steelpan'" [feature1]="'Feature Name'"
  [paragragh1]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'"
  [icon2]="'fas fa-hands-helping'" [feature2]="'Feature Name'"
  [paragragh2]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'"
  [icon3]="'fas fa-people-carry'" [feature3]="'Feature Name'"
  [paragragh3]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
</app-guid-box>
<br>
<app-vedio-guid [youtubeURL]="'https://www.youtube.com/embed/qI1ondD4FGU?list=RDqI1ondD4FGU'"></app-vedio-guid>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="vertical-heading">
        <h5>Our Sports</h5>
        <h2>Your <span><strong>Sports</strong></span><br>Features</h2>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="container-fluid wow zoomIn delay-3s">
  <div class="row">
    <div class="col-md-3">
      <app-box [icon]="'far fa-futbol'" [featureName]="'Football'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'fas fa-table-tennis'" [featureName]="'Tennis'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'far fa-futbol'" [featureName]="'Handball'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'fas fa-basketball-ball'" [featureName]="'Basketball'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'far fa-hand-rock'" [featureName]="'Combat Sports'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'fas fa-dumbbell'" [featureName]="'Personal Training'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'fas fa-hockey-puck'" [featureName]="'Ice Hockey'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
    <div class="col-md-3">
      <app-box [icon]="'fas fa-skiing'" [featureName]="'Sky'"
        [paragragh]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
      </app-box>
    </div>
  </div>
</div>
<app-word-statment [nameBy]="'Hazem Hamed'"
  [wordStatment]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'">
</app-word-statment>
<br>
<app-price-boxes [basicPrice]="'20'" [professionalPrice]="'40'" [unlimitedPrice]="'60'"></app-price-boxes>
