<section id="about">
  <div class="row animated fadeInUp text-center" data-wow-duration="2s">
    <div class="col-md-12">
      <div class="vertical-heading">
        <h5>our Offers</h5>
        <h2>Your <strong>{{pageName}}</strong><br>Features</h2>
      </div>
    </div>
  </div>
  <div id="about-02">
    <div class="content-box-md">
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow fadeInLeft">
            <div class="about-item text-center">
              <i class="{{icon1}}"></i>
              <h3>{{feature1}}</h3>
              <hr>
              <p>{{paragragh1}}</p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInUp" data-wow-duration="2s">
            <div class="about-item text-center">
              <i class="{{icon2}}"></i>
              <h3>{{feature2}}</h3>
              <hr>
              <p>{{paragragh2}}</p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInRight">
            <div class="about-item text-center">
              <i class="{{icon3}}"></i>
              <h3>{{feature3}}</h3>
              <hr>
              <p>{{paragragh3}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
