<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img [src]="image1" alt="...">
      <div class="carousel-caption">
        <div class="horizontal-heading">
          <h5>{{headName}}</h5>
          <h2>{{tittle}}</h2>
        </div>
        <p>{{paraghragh1}}</p>
      </div>
    </div>
    <div class="item mb-5 text-right">
      <img [src]="image2" alt="...">
      <div class="carousel-caption">
        <div class="horizontal-heading">
          <h5>{{headName}}</h5>
          <h2>{{tittle}}</h2>
        </div>
        <p>{{paraghragh2}}</p>
      </div>
    </div>
    <div class="item mb-5 text-right">
      <img [src]="image3" alt="...">
      <div class="carousel-caption">
        <div class="horizontal-heading">
          <h5>{{headName}}</h5>
          <h2>{{tittle}}</h2>
        </div>
        <p>{{paraghragh3}}</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
