<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner " role="listbox">
    <div class="item active">
      <img src="../../../../assets/Tools/Images/TestImg/image1.jpg" alt="...">
      <div class="carousel-caption">
        <div class="horizontal-heading">
          <h5>Team Mangment</h5>
          <h2>Mange Your Team</h2>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, pariatur facere facilis tempora dolorum
          dolor illo praesentium iusto error dicta harum labore</p>
          <div class="row">
            <div class="col-md-12">
                <div id="home-btn">
                    <a type="button" title="Login" role="button" class="btn btn-general btn-home" data-toggle="modal"
                      data-target="#myModal">
                      Get Started
                    </a>
                  </div>
            </div>
          </div>

      </div>
    </div>
    <div class="item mb-5 text-right">
      <img src="../../../../assets/Tools/Images/TestImg/image2.jpg" alt="...">
      <div class="carousel-caption">
          <div class="horizontal-heading">
            <h5>Team Mangment</h5>
            <h2>Mange Your Team</h2>
          </div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, pariatur facere facilis tempora dolorum
            dolor illo praesentium iusto error dicta harum labore</p>
            <div class="row">
              <div class="col-md-12">
                  <div id="home-btn">
                      <a type="button" title="Login" role="button" class="btn btn-general btn-home" data-toggle="modal"
                        data-target="#myModal">
                        Get Started
                      </a>
                    </div>
              </div>
            </div>

        </div>
    </div>
    <div class="item mb-5 text-right">
      <img src="../../../../assets/Tools/Images/TestImg/image3.jpg" alt="...">
      <div class="carousel-caption">
          <div class="horizontal-heading">
            <h5>Team Mangment</h5>
            <h2>Mange Your Team</h2>
          </div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, pariatur facere facilis tempora dolorum
            dolor illo praesentium iusto error dicta harum labore</p>
            <div class="row">
              <div class="col-md-12">
                  <div id="home-btn">
                      <a type="button" title="Login" role="button" class="btn btn-general btn-home" data-toggle="modal"
                        data-target="#myModal">
                        Get Started
                      </a>
                    </div>
              </div>
            </div>

        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
