<section id="about">
  <div id="about-01">
    <div class="content-box-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="about-left">
              <div class="vertical-heading">
                <h5>Who We Are</h5>
                <h2>A <strong>Story</strong><br> About Us</h2>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="about-right">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia porro, officia, soluta tempora voluptate
                eaque aliquam obcaecati, nobis delectus facilis maxime? Voluptatum illo iure ullam repudiandae fugit
                accusantium illum ex? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum nam, commodi eius
                unde distinctio hic tempora reiciendis atque quo blanditiis dolores doloremque expedita tempore
                recusandae molestias beatae illo libero nihil!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia porro, officia, soluta tempora voluptate
                eaque aliquam obcaecati, nobis delectus facilis maxime? Voluptatum illo iure ullam repudiandae fugit
                accusantium illum ex? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum nam, commodi eius
                unde distinctio hic tempora reiciendis atque quo blanditiis dolores doloremque expedita tempore
                recusandae molestias beatae illo libero nihil!</p>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="about-bottom">
              <img src="../../../../assets/Tools/Images/About Us/cover_image.png" alt="About Us" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about-02">
    <div class="content-box-md">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="fas fa-praying-hands"></i>
              <h3>Mission</h3>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, et? Minus recusandae, autem illum
                molestias eius amet sint eveniet fugit modi nihil doloremque earum quasi aliquam natus temporibus iste
                architecto.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="far fa-eye"></i>
              <h3>Vission</h3>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, et? Minus recusandae, autem illum
                molestias eius amet sint eveniet fugit modi nihil doloremque earum quasi aliquam natus temporibus iste
                architecto.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about-item text-center">
              <i class="fas fa-pen"></i>
              <h3>Passion</h3>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, et? Minus recusandae, autem illum
                molestias eius amet sint eveniet fugit modi nihil doloremque earum quasi aliquam natus temporibus iste
                architecto.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
