<section id="about">
  <div id="about-01">
    <div class="content-box-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow slideInLeft" data-wow-duration="1s">
            <div id="about-left">
              <div class="vertical-heading">
                <h5>Who We Are</h5>
                <h2>A <strong>Story</strong><br> About Us</h2>
              </div>
            </div>
          </div>
          <div class="col-md-6 wow slideInRight" data-wow-duration="1s">
            <div id="about-right">
              <p>Upstricke is a video analysis solution that allows analysts to capture, analyze and share videos of
                training sessions and matches. The software offers tools to capture the footage directly into the
                platform, tag events real-time, and upload, organize and share the various videos produced , Its
                Software is used by athletic coaches to break down and analyze the movements as well as categorize
                videos to create an index of events (e.g. pass goal, player, etc.). The software uses digital video
                graphics to deliver instant visual.</p>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 wow fadeInUp" data-wow-duration="1s">
            <div id="about-bottom">
              <img src="../../../../assets/Tools/Images/About Us/cover_image.png" alt="About Us" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about-02">
    <div class="content-box-md">
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow fadeInLeft">
            <div class="about-item text-center">
              <i class="fas fa-praying-hands"></i>
              <h3>Mission</h3>
              <hr>
              <p>Our mission is to provide the world with the best free video instruction for every sport. By best we
                mean best coaches, best production and best user experience “easy to find, search and navigate
                website”.</p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInUp" data-wow-duration="2s">
            <div class="about-item text-center">
              <i class="far fa-eye"></i>
              <h3>Vission</h3>
              <hr>
              <p>Our vision is provides a rich set of opportunities for the application of computer vision techniques to
                help the competitors, coaches and audience. This program discusses a selection of current commercial
                applications that use computer vision for sports analysis, and highlights some of the topics that are
                currently being addressed in the research community.</p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInRight">
            <div class="about-item text-center">
              <i class="fas fa-pen"></i>
              <h3>Passion</h3>
              <hr>
              <p>We believe in opportunity and data accessibility for all levels. Hence we provide a holistic approach
                to athlete and coach engagement. Our innovative sports analytic software aids you in improving
                performance and producing enhanced results.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
