<section id="contact">
  <div class="content-box-md">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="contact-left">
            <div class="vertical-heading">
              <h5>Who We Are</h5>
              <h2>Get <br>In <strong>Touch</strong></h2>
            </div>
            <br>
            <div id="offices">
              <div class="row">
                <div class="col-md-6">
                  <div class="office">
                    <h4>Cairo - Egypt</h4>
                    <ul class="office-details">
                      <li><i class="fas fa-phone-alt"></i> +(002) - 01002021454</li>
                      <li><i class="fas fa-envelope-open-text"></i> info@upstricke.com</li>
                      <li><i class="far fa-compass"></i>Heliopolis - Masr El Jadidah - Cairo</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <ul class="social-list">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <app-contact-us-form></app-contact-us-form>
        </div>
      </div>
    </div>
  </div>
</section>
