<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="site-nav-wrapper">
        <div class="navbar-header">
          <!-- Mobile Menu Open Button -->
          <span id="mobile-nav-open-btn">&#9776;</span>
          <!-- Logo -->
          <a class="navbar-brand smooth-scroll" style="outline: 0" routerLink="/">
            <i class="fab fa-megaport fa-2x" style="color:  #34c3eb"></i>
          </a>
        </div>

        <!-- Main Menu -->
        <div class="container">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a class="smooth-scroll" routerLink="/settings">Setting</a></li>
              <li><a class="smooth-scroll" routerLink="/teamMangments">Team Mangment</a></li>
              <li><a class="smooth-scroll" routerLink="/playersMangments">Players Mangment</a></li>
              <li><a class="smooth-scroll" routerLink="/analysis">Analyses</a></li>
              <li><a class="smooth-scroll" routerLink="/reports">Reports</a></li>
              <li><a class="smooth-scroll" type="button" title="Login" style="cursor: pointer" data-toggle="modal"
                  data-target="#myModal">Login</a></li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu -->
        <div id="mobile-nav">
          <!-- Mobile Menu Close Button -->
          <span id="mobile-nav-close-btn">&times;</span>
          <div id="mobile-nav-content">
            <ul class="nav">
              <li><a class="smooth-scroll" routerLink="/settings">Setting</a></li>
              <li><a class="smooth-scroll" routerLink="/teamMangments">Team Mangment</a></li>
              <li><a class="smooth-scroll" routerLink="/playersMangments">Players Mangment</a></li>
              <li><a class="smooth-scroll" routerLink="/reports">Reports</a></li>
              <li><a class="smooth-scroll" routerLink="/analysis">Analyses</a></li>
              <li><a class="smooth-scroll" type="button" title="Login" data-toggle="modal"
                  data-target="#myModal">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>