<section id="portfolio">
  <div class="content-box-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="vertical-heading">
            <h5>Find Out Work</h5>
            <h2>Our <br> Famous <strong>Captains</strong></h2>
          </div>
          <div class="col-md-12">
            <div id="isotope-filters">
              <button class="btn active" data-filter="*"><span>All</span></button>
              <button class="btn" data-filter=".wr"><span>Wrestling Romanian</span></button>
              <button class="btn" data-filter=".football"><span>Football</span></button>
              <button class="btn" data-filter=".handball"><span>Handball</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="portfolio-wrapper">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div id="isotope-container">
            <div class="col-md-3 wr">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/2016-636055672856654866-665.jpg" title="Karam Gaber">
                  <img src="../../../../assets/Tools/Images/Portfolio/2016-636055672856654866-665.jpg" alt="Karam Gaber"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Karam gaber</h3>
                      <span></span>
                      <p>Wrestling Romanian</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 wr">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/81f2a4_00886de01c004721b3e61e775df529c7~mv2.jpg"
                  title="Sha5sya kda">
                  <img src="../../../../assets/Tools/Images/Portfolio/81f2a4_00886de01c004721b3e61e775df529c7~mv2.jpg"
                    alt="Sha5sya kda" class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Sha5sya kda</h3>
                      <span></span>
                      <p>Wrestling Romanian</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 handball">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/GettyImages-679989992.jpg" title="Sha5sya kda brdo">
                  <img src="../../../../assets/Tools/Images/Portfolio/GettyImages-679989992.jpg" alt="Sha5sya kda brdo"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Sha5sya kda brdo</h3>
                      <span></span>
                      <p>Football</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 football">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/_hossam_hassan.jpg" title="Hossam Hassan">
                  <img src="../../../../assets/Tools/Images/Portfolio/_hossam_hassan.jpg" alt="Hossam Hassan"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Hossam Hassan</h3>
                      <span></span>
                      <p>Football</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 football">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/d8296a0aeb7957783fcc3f4ed517ee2c.jpg" title="Grous">
                  <img src="../../../../assets/Tools/Images/Portfolio/d8296a0aeb7957783fcc3f4ed517ee2c.jpg" alt="Grous"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Grous</h3>
                      <span></span>
                      <p>Football</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 handball">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/gettyimages-901442484-612x612.jpg"
                  title="Ahmed El Ahmar">
                  <img src="../../../../assets/Tools/Images/Portfolio/gettyimages-901442484-612x612.jpg"
                    alt="Ahmed El Ahmar" class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Ahmed El Ahmar</h3>
                      <span></span>
                      <p>Handball</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 football">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/hassan-shehata.jpg" title="Hassan Shehata">
                  <img src="../../../../assets/Tools/Images/Portfolio/hassan-shehata.jpg" alt="Hassan Shehata"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Hassan Shehata</h3>
                      <span></span>
                      <p>Football</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 football">
              <div class="portfolio-item">
                <a href="../../../../assets/Tools/Images/Portfolio/index.jpg" title="Ahmed Hassan">
                  <img src="../../../../assets/Tools/Images/Portfolio/index.jpg" alt="Ahmed Hassan"
                    class="img-responsive">
                  <div class="portfolio-item-overlay">
                    <div class="portfolio-item-details text-center">
                      <h3>Ahmed Hassan</h3>
                      <span></span>
                      <p>Football</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</section>
