<section id="team">
  <div class="content-box-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="team-left">
            <div class="vertical-heading">
              <h5>Who We Are</h5>
              <h2>Meet Our <br><strong>Talented</strong> Team</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quam libero quibusdam quidem officiis
              incidunt animi accusantium facilis tempore aperiam dignissimos optio maiores, corrupti sequi error sunt
              esse
              mollitia necessitatibus.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="team-members" class="owl-carousel">
            <div class="team-member">
              <img src="../../../../assets/Tools/Images/Owner/Amr Mossad.jpg" alt="Amr Mossad" class="img-responsive">
              <div class="team-member-overlay">
                <div class="team-member-info text-center">
                  <h6>Amr Mossad</h6>
                  <p>BasketBall Trainer</p>
                  <ul class="social-list">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="team-member">
              <img src="../../../../assets/Tools/Images/Owner/Hazem Hamed.jpg" alt="Hazem Hamed" class="img-responsive">
              <div class="team-member-overlay">
                <div class="team-member-info text-center">
                  <h6>Hazem Hamed</h6>
                  <p>HandBall Trainer</p>
                  <ul class="social-list">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="team-member">
              <img src="../../../../assets/Tools/Images/Owner/Hossam Hamed.jpg" alt="Hossam Hamed"
                class="img-responsive">
              <div class="team-member-overlay">
                <div class="team-member-info text-center">
                  <h6>Hossam Hamed</h6>
                  <p>BasketBall Trainer</p>
                  <ul class="social-list">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="team-member">
              <img src="../../../../assets/Tools/Images/Owner/Ahmed Mossad.jpg" alt="Ahmed Mossad"
                class="img-responsive">
              <div class="team-member-overlay">
                <div class="team-member-info text-center">
                  <h6>Ahmed Mossad</h6>
                  <p>BasketBall Trainer</p>
                  <ul class="social-list">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
