<section id="statment">
  <div class="content-box-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow fadeIn">
          <div id="sport-statment" class="text-center">
            <h3><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quisquam voluptate fuga cupiditate minus
              commodi! Eaque voluptas corporis aut minus reprehenderit culpa corrupti quam omnis explicabo, expedita
              iusto itaque cum. <i class="fas fa-quote-right"></i></h3>
            <p>- Hazem Hamed -</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
