<app-head-page-carousel [headName]="'Team Mangment'" [tittle]="'Build Your Team'"
  [paraghragh1]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'"
  [paraghragh2]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'"
  [paraghragh3]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque expedita itaque, aperiam consequuntur nam voluptates vel deserunt autem eius similique, eveniet officia maiores ratione veniam maxime temporibus. Ipsum, maiores magnam.'"
  [image1]="'../../../../assets/Tools/Images/TestImg/image1.jpg'"[image2]="'../../../../assets/Tools/Images/TestImg/image2.jpg'" [image3]="'../../../../assets/Tools/Images/TestImg/image3.jpg'">
</app-head-page-carousel>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
