#service-01 img {
  margin: 60px 0;
}

.service {
  margin: 35px;
}

.service .icon {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.service:hover .icon {
  color: #34c3eb;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.service h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #34c3eb;
  margin: 0 0 6px 0;
}

.service:hover h5 {
  color: #212226;
}

.service h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.service p {
  line-height: normal;
}
#service-02{
  background-color: #f4f4f4;
}
#service-tabs ul{
  margin-bottom: 40px;
}
#service-tabs ul li{
  padding: 5px 30px;
}
#service-tabs ul li a{
  font-family: "Raleway" , sans-serif;
  font-size: 13px;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
}
#service-tabs ul li.r-tabs-state-active a{
  color: #34c3eb;
  font-weight: 700;
  border-bottom: 3px solid #34c3eb;
  padding: 5px;
  -webkit-transition: border-color 300ms linear;
  transition: border-color 300ms linear;
}

.service-tab .col-md-6{
  padding: 0
}
.service-tab img{
  width: 100%;
  margin: 0 auto;
}
.service-tab .tab-bg{
  background: #fff;
  padding: 59px 30px;
  min-height: 481px;
}
.service-tab h2{
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}
.service-tab h3{
  font-size: 32px;
  margin-bottom: 30px;
}
.service-tab p{
  line-height: 24px;
  margin-bottom: 30px
}
