<section id="services">
  <div id="service-01">
    <div class="content-box-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center wow slideInDown">
            <div class="horizontal-heading">
              <h5>What We Do</h5>
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 wow slideInLeft">
            <img src="../../../../assets/Tools/Images/Services/sports_logo_png_1293470.png" alt="Services Image"
              class="img-responsive">
          </div>
          <div class="col-md-5 wow slideInRight">
            <div class="service">
              <div class="row">
                <div class="col-md-2">
                  <div class="icon float-right">
                    <i class="fas fa-medal"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <h5>Service 01</h5>
                  <h4>Digital Evaluation</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aperiam ad dolore accusantium ea
                    soluta in iste pariatur? Facilis sunt enim architecto id fuga aut qui iure ea dolore suscipit.</p>
                </div>
              </div>
            </div>
            <div class="service">
              <div class="row">
                <div class="col-md-2">
                  <div class="icon float-right">
                    <i class="fas fa-sort-amount-up"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <h5>Service 02</h5>
                  <h4>Digital Analysis For Match</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet recusandae, optio aperiam nisi
                    accusamus, doloribus praesentium vel labore fuga enim sed magnam laborum quae sunt magni nostrum,
                    quia numquam ducimus.</p>
                </div>
              </div>
            </div>
            <div class="service">
              <div class="row">
                <div class="col-md-2">
                  <div class="icon float-right">
                    <i class="fas fa-file-alt"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <h5>Service 03</h5>
                  <h4>Digital Report</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis eos cupiditate delectus
                    beatae a, itaque possimus atque ut adipisci enim iure eligendi maxime, quo debitis obcaecati error!
                    Illum, praesentium.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








  <div id="service-02">
    <div class="content-box-md">
      <div id="service-tabs">
        <ul class="text-center">
          <li><a href="#service-tab-evaluation"><i class="fas fa-medal"></i>
              Evaluation</a></li>
          <li><a href="#service-tab-analysis"><i class="fas fa-sort-amount-up"></i> Analysis</a>
          </li>
          <li><a href="#service-tab-report"><i class="fas fa-file-alt"></i> Report</a></li>
        </ul>

        <!-- service-tab-evaluation -->
        <div id="service-tab-evaluation" class="service-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../../assets/Tools/Images/Services/evaluation-png-image-47240.png" alt="Evaluation"
                  class="img-responsive">
              </div>
              <div class="col-md-6">
                <div class="tab-bg">
                  <h2>01</h2>
                  <h3>Evaluate Your Team</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi et, fuga atque nostrum ullam
                    corporis beatae veritatis quam tempore molestiae, similique quod? Reprehenderit hic aut
                    voluptatibus.
                    Placeat, illo nam?</p>
                  <div id="service-02-button">
                    <a type="button" title="Login" role="button" class="btn btn-general btn-blue" data-toggle="modal"
                      data-target="#myModal">
                      <i class="far fa-thumbs-up"></i> Try It Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- service-tab-evaluation -->
        <div id="service-tab-analysis" class="service-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../../assets/Tools/Images/Services/analysis-icon-3.png" alt="Analysis"
                  class="img-responsive">
              </div>
              <div class="col-md-6">
                <div class="tab-bg">
                  <h2>02</h2>
                  <h3>Analysis Your Team</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi et, fuga atque nostrum ullam
                    corporis beatae veritatis quam tempore molestiae, similique quod? Reprehenderit hic aut
                    voluptatibus.
                    Placeat, illo nam?</p>
                  <div id="service-02-button">
                    <a type="button" title="Login" role="button" class="btn btn-general btn-blue" data-toggle="modal"
                      data-target="#myModal">
                      <i class="far fa-thumbs-up"></i> Try It Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- service-tab-report -->
        <div id="service-tab-report" class="service-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="../../../../assets/Tools/Images/Services/f994bab79e.png" alt="Report" class="img-responsive">
              </div>
              <div class="col-md-6">
                <div class="tab-bg">
                  <h2>03</h2>
                  <h3>Get Your Report</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore modi et, fuga atque nostrum ullam
                    corporis beatae veritatis quam tempore molestiae, similique quod? Reprehenderit hic aut
                    voluptatibus.
                    Placeat, illo nam?</p>
                  <div id="service-02-button">
                    <a type="button" title="Login" role="button" class="btn btn-general btn-blue" data-toggle="modal"
                      data-target="#myModal">
                      <i class="far fa-thumbs-up"></i> Try It Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
