#preloader{
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status{
  background-image: url(../../../../assets/Tools/Images/Preloader/Facebook-1s-200px.gif);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 46%;
  top: 46%;
  margin-top: -35px;
  margin-left: -35px;
}


@media (min-width: 1200px) and (max-width: 1299px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  #status{
    left: 44%;
    top: 44%;
    margin-top: -35px;
    margin-left: -43px;
  }
}

@media (max-width: 767px) {
  #status{
    left: 44%;
    top: 44%;
    margin-top: -35px;
    margin-left: -76px;
  }
}
