#preloader{
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status{
  background-image: url(../../../../assets/Tools/Images/Preloader/Facebook-1s-200px.gif);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 46%;
  top: 46%;
  margin-top: -35px;
  margin-left: -35px;
}
